// nav {
//     height: 70px;
//     display: flex;
//     justify-content: center;
//     padding: 20px 36px;
//     align-items: center;
//     background-color: #252422;
//     box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
// }

.navtext {
    color: #fffcf2;
    font-family: Roboto Serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
}
.maincontent{
    display: flex;
}
.cards-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow-y: auto;
    justify-content: center;
    width: 100%;
    padding-top: 30px;
    align-items: center;
}

.card--badge {
    position: absolute !important;
    top: 6px;
    left: 6px;
    background-color: rgb(227, 219, 219);
    padding: 5px 7px;
    border-radius: 5px;
    font-weight: bold;
}

.card {
    display: flex;
    background-color: #cce1f0;
    height: 200px;
    border-radius: 15px;
    position: relative;
    width: 60%;
}

.card:hover {
    transform: scale(1.05);
    /* Slightly increase size */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Add shadow for pop up effect */
}

.card--image {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 30%;
}

.card--stats {
    margin-right: auto;
    padding-left: 15px;
    overflow: hidden;
}

.card--title {
    color: #05294b;
    font-weight: bold;
    font-size: 25px;
}

.card--info {
    margin-top: 5px;
}

.card--icon {
    height: 20px;
}

.card-button {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

.card--price {
    color: #05294b;
    font-weight: bold;
    font-size: 25px;
}

.per-month {
    color: #05294b;
    font-size: 20px;
}

.card-nav-link {
    text-decoration: none;
    
    .button-comp {

        margin-top: 5px;
        width: 158px;
        height: 50px;
        font-size: 20px;
        font-weight: 800;
        color: #05294b;
        border: 1px solid #05294b !important;
        text-decoration: none;
    }
}
.property-nav-link {
    text-decoration: none;
    
    .button-property-comp {
        margin-top: 15px;
        width: 158px;
        height: 50px;
        font-size: 20px;
        font-weight: 800;
        color: #05294b;
        border: 1px solid #05294b !important;
        text-decoration: none;
    }
}
.add-property-button-container {
    display: flex;
    justify-content: right;

    margin-right: 30px;

    .add-property-button {
        border: 1px solid $black;
        // border-radius: 10px;
        width: 50%;
        height: 50px;
        font-size: $font-size-ml;
    }
}


.filter{
    //width:50px;
    max-height: 100vh;
    margin-bottom: 161px;
    border-radius: 10px;
    margin-left: 100px;
    margin-top: 30px;
    max-width: 270px;
    float: left;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #ffffff;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);;
}

.filter-button{
    margin-top: auto;
    background-color: #05294b;
    color: antiquewhite;
    justify-content: center;
    align-items: center;
    width: 208px;
    height: 40px;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 15px;
    border: 1px solid #05294b !important;

}
.filter-component{
    display: flex;
    flex-direction: column;
    //background-color: $gray;
}
.filter-header{
    text-align: center;
    color: #05294b;
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 0;

}
.filter-last{
    margin-bottom: 20px;
}

.filter-scrollable {
    overflow-y: auto;
  }

  .filter:hover .filter-scrollable {
    overflow-y: scroll; /* Shows the scrollbar on hover */
  }